.form {
    h2 {
        text-align: center;
        color: $primaryColor;
        font-size: 44px;
        font-weight: bold;
    }
    h5 {
        color: $primaryColor;
        font-weight: bold;
    }
    form {
        margin-top: 50px;
    }
    textarea {
        resize: none;
    }
}
.form-group {
    position: relative;
    margin-bottom: 1rem;
    .form-control {
        border: 1px solid $primaryColor;
        background-color: transparent;
        background-clip: border-box;
        padding: 10px 20px;
        color: #000;
        border-radius: 0;
        height: auto;
        color: $primaryColor;
        &:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid $secondaryColor;
        }
        &::-webkit-input-placeholder {
            color: $primaryColor;
        }
        &::-moz-placeholder {
            color: $primaryColor;
        }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus input:-webkit-autofill,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: #fff;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
        background: -webkit-linear-gradient(
            top,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 174, 255, 0.04) 50%,
            rgba(255, 255, 255, 0) 51%,
            rgba(0, 174, 255, 0.03) 100%
        );
    }

    .focus-border {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0%;
        height: 3px;
        transform: translateX(-50%);
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}
